
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
:root{
    --nintendo: #ff2222;
}
.header{
    background-color: #ffffff;
    display: flex;
    height: 80px;
    border-top: 3px solid var(--nintendo);
    border-bottom: 3px solid var(--nintendo);
    justify-content: space-between;
    align-items: center;
}
.header .logo img{
    height: 55px;
    padding-left: 10px;
}
.header .navbar ul li {
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
}
.header .navbar ul li a{
    color:var(--nintendo);
    font-weight: bold;
    border: 8px solid var(--nintendo);
    border-radius: 50px;
    padding: 10px 25px;
}